.footer {
    background-color: #111110;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .contact-info {
    color: #ede6e6;
    margin-bottom: 20px;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
  }
  
  .footer-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  
  .footer-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #D25FF1;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-links a:hover::after {
    transform: scaleX(1);
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .footer-links {
      flex-wrap: wrap;
    }
  
    .footer-links a {
      margin: 5px;
    }
  }