  header {
    display: grid;
    place-items: center;
    }
  
  nav {
    display: none;
    place-items: center;
    grid-template-columns: 1fr;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top:0;
    background-color: #fff;
  }
 
  nav li {
    list-style-type: none;
  }

  nav li > a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  nav ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
  }
  
  .active {
     display: grid;
  }
  
  #button_close {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #button_open {
    position: absolute;
    top: 0;
    right: 0;
  }

  #logo {
    max-width: 290px;
    background-color: #ffffff;
 }

 .logo {
  background-color: #ffffff;
  display: grid;
  place-items: center;
 }
   
  @media screen and (min-width: 768px) {
    nav {
      
    min-height: auto;
    min-width: 100vw;
    }
    
    nav li {
    margin: 10px;
    padding: 10px;
  }
    
    nav ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 150px;
      position: relative;
      left: 0;
    }

    .active {left:0;}

    #button_close {
      display: none;
    }

    #button_open {
      display: none;
    }
  }
  